@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap");
/* ========== Page colors ========== */
/* ========== ✓ Page colors ✓ ========== */
/* ========== Standard properties ========== */
/* ========== ✓ Standard properties ✓ ========== */
/*  ========== clases aplicables  ========== */
.vertical_uno {
  grid-area: verticaluno;
}

.horizontal_uno {
  grid-area: horizontaluno;
}

.horizontal_dos {
  grid-area: horizontaldos;
}

.horizontal_tres {
  grid-area: horizontaltres;
}

/*  ========== ✓ clases aplicables ✓ ========== */
@keyframes entrada_titulo {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes entrada_inputs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #212529;
  font-family: "Montserrat", sans-serif;
}

/*=============== preloader ===============*/
body .preloader {
  width: 100%;
  height: 100vh;
  background-color: #212529;
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .preloader .preloader__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .preloader .preloader__elements .preloader__svg-diafragma {
  width: 100px;
  height: 100px;
  fill: #f8f9fa;
  animation: loading_effect 3s infinite;
}
@keyframes loading_effect {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .preloader .preloader__elements .preloader__title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f8f9fa;
  margin-left: 10px;
}

/*=============== ✓ preloader ✓ ===============*/
/*=============== HEADER ===============*/
header {
  width: 100%;
  height: 100vh;
  background-image: url(../components/images/bg_header/bg_header.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header .header__container {
  width: 80%;
  margin: 0px auto;
  position: relative;
  /* ===== nav-bar ===== */
  /* ===== ✓ nav-bar ✓ ===== */
  /* ===== arrow down ===== */
  /* ===== ✓ arrow down ✓ ===== */
}
header .header__container nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 25px 0px;
  align-items: center;
}
header .header__container nav .nav__logo {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: color 0.5s ease, fill 0.5s ease;
  text-decoration: none;
  color: #f8f9fa;
  fill: #f8f9fa;
  letter-spacing: 2px;
}
header .header__container nav .nav__logo .nav__title {
  font-size: 28px;
}
header .header__container nav .nav__logo .nav__svg-35mmfilm {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  position: relative;
  right: 15px;
}
header .header__container nav .nav__logo:hover {
  color: #adb5bd;
  fill: #adb5bd;
}
header .header__container nav .nav-menu {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
header .header__container nav .nav-menu li {
  display: inline-block;
  text-align: center;
}
header .header__container nav .nav-menu a {
  display: inline-block;
  font-size: 22px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #f8f9fa;
  padding: 25px;
  transition: border 0.3s ease, color 0.3s ease;
}
header .header__container nav .nav-menu a:hover {
  color: #adb5bd;
  border-bottom: 1px solid #adb5bd;
  border-radius: 5px;
}
header .header__container .header__arrowdown-container {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #adb5bd;
  border-radius: 100%;
  fill: #f8f9fa;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 100%;
  top: 80vh;
  transition: all 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../css/style.css);
  /* Animation arrow down */
}
header .header__container .header__arrowdown-container svg {
  width: 50px;
  animation: breathing_element 4s infinite;
}
@keyframes breathing_element {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
header .header__container .header__arrowdown-container:hover {
  fill: #adb5bd;
  border: 2px solid #f8f9fa;
}

/*=============== ✓ HEADER ✓ ===============*/
/*=============== Sections ===============*/
section .bw-color {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: rgba(108, 117, 125, 0.2);
}
section .bw-color .bw-color__container-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section .bw-color .bw-color__container-flex .container-img {
  width: 25%;
  padding: 10px;
  border: 2px solid #f8f9fa;
  border-radius: 10px;
  opacity: 0.7;
  transition: opacity 0.5s ease;
  position: relative;
}
section .bw-color .bw-color__container-flex .container-img:hover {
  opacity: 1;
}
section .bw-color .bw-color__container-flex .container-img img {
  width: 100%;
  border-radius: 10px;
}
section .bw-color .bw-color__container-flex .container-img .container-img__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: #f8f9fa;
  letter-spacing: 2px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 20px;
}
section .gallery {
  padding-bottom: 150px;
}
section .gallery .gallery__container-all {
  width: 80%;
  margin: 0px auto;
}
section .gallery .gallery__container-all .gallery__title {
  color: #f8f9fa;
  font-size: 64px;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
  width: 50%;
  border-bottom: 2px solid #f8f9fa;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
section .gallery .gallery__container-all .gallery__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 35%);
  grid-template-rows: auto auto auto;
  justify-content: center;
  grid-template-areas: "verticaluno   horizontaluno" "verticaluno    horizontaldos" "horizontaltres   horizontaltres";
  gap: 60px 30px;
}
section .gallery .gallery__container-all .gallery__container .container-img {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  border-top: 1px solid #f8f9fa;
  border-bottom: 1px solid #f8f9fa;
  padding: 10px;
  border-radius: 20px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
section .gallery .gallery__container-all .gallery__container .container-img:hover {
  opacity: 1;
  border-top: 2px solid #f8f9fa;
  border-bottom: 2px solid #f8f9fa;
}
section .gallery .gallery__container-all .gallery__container .container-img img {
  width: 100%;
  border-radius: 10px;
}
section .gallery .gallery__container-all .gallery__container .container-img .title-img {
  position: absolute;
  top: 100%;
  padding-top: 10px;
  color: #f8f9fa;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
section .aboutme {
  background-color: #f8f9fa;
  height: 100%;
  padding-bottom: 50px;
}
section .aboutme .aboutme__container-all {
  width: 80%;
  margin: 0 auto;
}
section .aboutme .aboutme__container-all .aboutme__title {
  color: #212529;
  font-size: 64px;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
  border-bottom: 2px solid #212529;
  border-radius: 10px;
  width: 60%;
  margin-top: 0;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
section .aboutme .aboutme__container-all .aboutme__container-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 75px;
}
section .aboutme .aboutme__container-all .aboutme__container-flex .container-img {
  width: 30%;
  padding: 15px;
  border: 1px solid #212529;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}
section .aboutme .aboutme__container-all .aboutme__container-flex .container-img:hover {
  border: 2px solid #212529;
  box-shadow: none;
}
section .aboutme .aboutme__container-all .aboutme__container-flex .container-img img {
  width: 100%;
  border-radius: 20px;
}
section .aboutme .aboutme__container-all .aboutme__text {
  width: 85%;
  color: #212529;
  font-size: 28px;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-align: center;
  line-height: 1.8em;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
}
section .aboutme .aboutme__container-all .aboutme__text .light {
  font-weight: 300;
}
section .aboutme .aboutme__container-all .aboutme__translate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
section .aboutme .aboutme__container-all .aboutme__translate .translate__btn {
  border: none;
  background-color: #212529;
  color: #f8f9fa;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
  transition: all 0.3s ease;
}
section .aboutme .aboutme__container-all .aboutme__translate .translate__btn:hover {
  box-shadow: none;
  background-color: #6c757d;
}
section .aboutme .aboutme__container-all .aboutme__translate .translate__btn.activate {
  cursor: initial;
  box-shadow: none;
  background-color: #6c757d;
}
section .aboutme .aboutme__container-all .aboutme__arrow-up {
  display: block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  fill: #212529;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;
}
section .aboutme .aboutme__container-all .aboutme__arrow-up:hover {
  fill: #6c757d;
  transform: translateY(-4px);
}

/*=============== (:Sections:) ===============*/
/*=============== Footer ===============*/
footer {
  height: 200px;
}
footer .footer__container-social {
  width: 50%;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(248, 249, 250, 0.3);
  border-radius: 45px;
  padding-bottom: 20px;
}
footer .footer__container-social .svg-container {
  width: 50px;
  display: block;
  fill: #f8f9fa;
  stroke: #f8f9fa;
  transition: all 0.3s ease;
  cursor: pointer;
}
footer .footer__container-social .svg-container:hover {
  fill: #adb5bd;
  stroke: #adb5bd;
  transform: scale(1.1);
}
footer .footer__text {
  color: #f8f9fa;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  /* cuando el popup tenga la clase active, 
     se le aplican las siguientes propiedades: */
}
.overlay.active {
  visibility: visible;
}
.overlay .popup-container {
  position: relative;
  text-align: center;
  width: 40%;
  min-height: 500px;
  background-color: #f8f9fa;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 50px 0px 10px 0px;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0.7);
}
.overlay .popup-container .popup__cross--close {
  display: block;
  cursor: pointer;
  fill: #212529;
  transition: fill 0.3s ease;
}
.overlay .popup-container .popup__cross--close:hover {
  fill: #d00000;
}
.overlay .popup-container .popup__cross--close svg {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 3%;
  right: 3%;
}
.overlay .popup-container .popup__title {
  color: #f8f9fa;
  font-size: 24px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-align: center;
  background-color: #212529;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  opacity: 0;
  animation: entrada_titulo 0.8s ease forwards;
}
.overlay .popup-container .popup__form {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  animation: entrada_inputs 0.8s ease 0.6 forwards;
}
.overlay .popup-container .popup__form .form__input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay .popup-container .popup__form .form__input-container input, .overlay .popup-container .popup__form .form__input-container textarea {
  outline: none;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  width: 80%;
  border: 1px solid #212529;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px;
  margin-bottom: 25px;
  transition: all 0.1s linear;
}
.overlay .popup-container .popup__form .form__input-container input:focus, .overlay .popup-container .popup__form .form__input-container textarea:focus {
  box-shadow: none;
  border: 2px solid #212529;
}
.overlay .popup-container .popup__form .form__input-container textarea {
  min-width: 80%;
  max-width: 80%;
  min-height: 200px;
  max-height: 250px;
}
.overlay .popup-container .popup__form .form__btn {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 10px 20px;
  background-color: #212529;
  color: #f8f9fa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid #212529;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-bottom: 35px;
  opacity: 1;
}
.overlay .popup-container .popup__form .form__btn:hover {
  transform: translateY(5px);
  border: 1px solid #212529;
  background-color: #f8f9fa;
  color: #212529;
}
.overlay .popup-container.active {
  opacity: 1;
  transform: scale(1);
}

/*=============== (:Footer:) ===============*/
/*=============== Responsive ===============*/
@media (max-width: 1270px) {
  header {
    background-position: center;
  }
  header .header__container nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .header__container nav .nav__logo {
    width: 100%;
  }
  header .header__container nav .nav-menu {
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  section .bw-color .bw-color__container-flex .container-img {
    width: 35%;
  }
  section .museum .museum__container .swiper {
    width: 85%;
  }

  .overlay .popup-container {
    width: 60%;
  }
}
@media (max-width: 840px) {
  header .header__container nav .nav-menu li a {
    font-size: 18px;
    padding: 10px 15px;
  }

  section .bw-color {
    height: 100%;
  }
  section .bw-color .bw-color__container-flex {
    flex-direction: column;
  }
  section .bw-color .bw-color__container-flex .container-img {
    margin-bottom: 100px;
    width: 50%;
  }
  section .museum .museum__container .museum__title {
    font-size: 48px;
  }
  section .museum .museum__container .swiper {
    width: 100%;
  }
  section .gallery .gallery__container-all .gallery__title {
    font-size: 48px;
  }
  section .gallery .gallery__container-all .gallery__container {
    grid-template-columns: 95%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "verticaluno" "horizontaluno" "horizontaldos" "horizontaltres";
    gap: 50px 0px;
  }
  section .gallery .gallery__container-all .gallery__container img {
    width: 100%;
  }
  section .aboutme .aboutme__container-all .aboutme__title {
    font-size: 48px;
  }
  section .aboutme .aboutme__container-all .aboutme__container-flex {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
  }
  section .aboutme .aboutme__container-all .aboutme__container-flex .container-img {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
  }

  .overlay .popup-container {
    width: 80%;
  }
}
@media (max-width: 650px) {
  header .header__container nav .nav__logo {
    width: 100%;
    justify-content: flex-start;
  }
  header .header__container nav .nav-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  header .header__container nav .nav-menu li {
    text-align: left;
  }
  header .header__container nav .nav-menu li a {
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  header .header__container .header__arrowdown-container {
    left: 50%;
  }

  section .gallery .gallery__container-all .gallery__title {
    font-size: 32px;
    padding-left: 0px;
    padding-right: 0px;
    width: 50%;
  }
  section .aboutme .aboutme__container-all .aboutme__title {
    font-size: 36px;
  }
  section .aboutme .aboutme__container-all .container-img {
    width: 100%;
  }
  section .aboutme .aboutme__container-all .aboutme__text {
    width: 90%;
    font-size: 24px;
  }

  footer {
    height: 150px;
  }
  footer .footer__container-social {
    width: 80%;
  }
  footer .footer__container-social .svg-container {
    width: 40px;
  }
}
@media (max-width: 491px) {
  section .bw-color .bw-color__container-flex .container-img {
    width: 70%;
  }
  section .museum .museum__container .museum__title {
    width: 100%;
    font-size: 32px;
  }
  section .museum .museum__container .swiper .swiper-button-next, section .museum .museum__container .swiper .swiper-button-prev {
    --swiper-navigation-size:24px;
  }
  section .gallery .gallery__container-all .gallery__title {
    width: 100%;
  }
  section .gallery .gallery__container-all .gallery__container .container-img .uno {
    content: url(../components/images/gallery/Vertical/Responsive/Champaqui-responsive.JPG);
  }
  section .gallery .gallery__container-all .gallery__container .container-img .dos {
    content: url(../components/images/gallery/Vertical/Responsive/rosario-responsive.jpg);
  }
  section .gallery .gallery__container-all .gallery__container .container-img .tres {
    content: url(../components/images/gallery/Vertical/Responsive/mardelplata-responsive.jpg);
  }
  section .aboutme .aboutme__container-all .aboutme__title {
    font-size: 36px;
    width: 80%;
    margin-top: 25px;
  }
  section .aboutme .aboutme__container-all .aboutme__container-flex .container-img {
    padding: 5px;
  }
  section .aboutme .aboutme__container-all .aboutme__text {
    width: 100%;
    font-size: 18px;
  }

  footer .footer__container-social {
    width: 80%;
  }
  footer .footer__container-social .svg-container {
    width: 30px;
  }
}
@media (max-width: 360px) {
  header .header__container nav .nav__logo .nav__title {
    font-size: 24px;
  }
  header .header__container nav .nav__logo .nav__svg-35mmfilm {
    width: 30px;
    height: 30px;
  }

  section .bw-color .bw-color__container-flex .container-img .container-img__title {
    font-size: 18px;
  }
  section .gallery .gallery__container-all .gallery__title {
    margin-top: 50px;
    margin-bottom: 75px;
  }
  section .aboutme .aboutme__container-all .aboutme__title {
    width: 100%;
  }

  footer .footer__container-social {
    width: 80%;
  }
  footer .footer__container-social .svg-container {
    width: 25px;
  }
  footer .footer__text {
    font-size: 14px;
  }

  .overlay .popup-container {
    width: 90%;
  }
  .overlay .popup-container .popup__form .form__input-container input, .overlay .popup-container .popup__form .form__input-container textarea {
    width: 90%;
  }
  .overlay .popup-container .popup__form .form__input-container textarea {
    min-width: 90%;
    max-width: 90%;
  }
}
/*=============== (:Responsive:) ===============*/

/*# sourceMappingURL=style.css.map */
