// styles_text($color, $font_size, $letter_spacing, $font-weight, $text_align)
@mixin styles_text($color, $font_size, $letter_spacing, $font-weight, $text_align){
    color: $color;
    font-size: $font_size;
    letter-spacing: $letter_spacing;
    font-weight: $font-weight;
    text-align: $text_align;
}
