@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');
@import "variables";
@import "mixins";

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: $principal-color-black;
    font-family: 'Montserrat', sans-serif;
}

/*=============== HEADER ===============*/
header{
    width: 100%;
    height: 100vh;
    background-image: $bg-image-header;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    
    .header__container {
        width: 80%;
        margin: 0px auto;
        position: relative;

        /* ===== nav-bar ===== */
        nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 25px 0px;
            align-items: center;

            // HEADER logo styles            
            .nav__logo {
                width: 30%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                transition: color .5s ease, fill .5s ease;

                text-decoration: none;
                color: $principal-color-white;
                fill: $principal-color-white;
                letter-spacing: 2px;                

                .nav__title {font-size: 28px;}
                
                .nav__svg-35mmfilm {
                    width: 40px;
                    height: 40px;
                    transform: rotate(90deg);
                    position: relative;
                    right: 15px;
                }
                
                &:hover {
                    color: $hover-header-color;
                    fill: $hover-header-color;
                }
            }

            // nav-menu styles
            .nav-menu {
                width: 70%;
                display: flex;
                justify-content: flex-end;
                list-style: none;

                li {
                    display: inline-block;
                    text-align: center;                 
                }

                a {
                    display: inline-block;
                    font-size: 22px;
                    letter-spacing: 1.5px;
                    text-decoration: none;
                    color: $principal-color-white;
                    padding: 25px;
                    transition: border .3s ease, color .3s ease;
                    
                    &:hover {
                        color: $hover-header-color;
                        border-bottom: 1px solid $hover-header-color ;
                        border-radius: 5px;
                    }
                }
            }
        }
        /* ===== ✓ nav-bar ✓ ===== */

        /* ===== arrow down ===== */              
        .header__arrowdown-container {
            display: block;
            width: 100px;
            height: 100px;
            border: 1px solid $hover-header-color;
            border-radius: 100%;
            fill: $principal-color-white;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 100%;
            top: 80vh;
            transition: all .1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../css/style.css);

            svg {
                width: 50px;
                animation: breathing_element 4s infinite;
            }

            /* Animation arrow down */             
            @keyframes breathing_element {
                from {
                    -webkit-transform: scale3d(1,1,1);
                    transform: scale3d(1, 1, 1);
                }
                50% {
                    -webkit-transform: scale3d(1.3, 1.3, 1.3);
                    transform: scale3d(1.3, 1.3, 1.3);
                }
                to {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }                
            }
            
            &:hover {
                fill: $hover-header-color;
                border: 2px solid $principal-color-white;
            }
        }
        /* ===== ✓ arrow down ✓ ===== */            
    }
}
/*=============== ✓ HEADER ✓ ===============*/

/*=============== Sections ===============*/
section {
    // ---------- Black&white or color ---------- //
    .bw-color{
        height: 100vh;
        display: flex;
        align-items:center;
        justify-content: center;
        padding-bottom: 100px;
        padding-top: 100px;
        background-color: $principal-color-black;

        .bw-color__container-flex {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .container-img {
                width: 25%;
                padding: 10px;
                border: 2px solid $principal-color-white;
                border-radius: $border-radius-standard_10;
                opacity: .7;
                transition: opacity .5s ease;
                position: relative;
                
                &:hover{
                    opacity: 1;
                }

                img {
                    width: 100%;
                    border-radius: $border-radius-standard_10;
                }

                .container-img__title {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    text-transform: uppercase;
                    color: $principal-color-white;
                    letter-spacing: 2px;
                    font-weight: 400;
                    width: 100%;
                    text-align: center;
                    padding: 20px;
                    
                }
            }
        }
    }
    // ---------- ✓ Black&white or color ✓ ---------- //

    // ---------- Random photo ---------- //
    .random{
        background-color: $principal-color-white;

        .random__container {
            width: 80%;
            margin: 0px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom:100px ;

            .random__btn{
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 1.5px;

                padding: 15px 20px;
                background-color: $principal-color-black;
                color: $principal-color-white;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

                border: 2px solid $principal-color-black;
                cursor: pointer;
                border-radius: 5px;
                transition: all .3s ease;

                margin-bottom: 35px;   

                &:hover{
                    transform: translateY(-7px);
                    background-color: $principal-color-white;
                    color: $principal-color-black;
                }
            }

            .random__img-container {
                width: 80%;
                border: 1px solid black;
                border-radius: 10px;
                padding: 10px;
                img {
                    border-radius: 10px;
                    width: 100%;
                }
            }
        }    
    }
    // ---------- ✓ Random photo ✓ ---------- //

    // ---------- Gallery ---------- //
    .gallery{
        padding-bottom: 150px;

        // contenedor de la sección galería.
        .gallery__container-all {
            width: 80%;
            margin: 0px auto;        

            // título de la sección galería.
            .gallery__title{
                // mixin ->
                // styles_text($color, $font_size, $letter_spacing, $font-weight, $text_align)
                @include styles_text($principal-color-white, 64px, 1px, 500, center);
                width: 50%;

                border-bottom: 2px solid $principal-color-white;
                border-radius: 10px;
                
                margin-top: 0;
                margin-bottom: 100px;
                margin-right: auto;
                margin-left: auto;

                padding-right: 20px;
                padding-left: 20px;                    
                padding-bottom: 20px;    
            }
            
            // contenedor grid de la galería. 
            .gallery__container {
                width: 100%;

                display: grid;
                grid-template-columns: repeat(2,40%);
                grid-template-rows: auto auto auto;
                justify-content: center;

                grid-template-areas:    "verticaluno   horizontaluno" 
                                        "verticaluno    horizontaldos"   
                                        "horizontaltres   horizontaltres";
                gap: 60px 30px;

                // contenedor de cada imágen de la galería.
                .container-img {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    position: relative;
                    
                    border: 1px solid $principal-color-white;
                    padding: 10px;
                    border-radius: 20px;
                    opacity: .8;
                    transition: opacity .3s ease;
                    
                    cursor: pointer;                
                    &:hover{
                        opacity: 1;
                        border: 2px solid $principal-color-white;
                    } 

                    img {
                        width: 100%;
                        border-radius: 10px;
                    }

                    .title-img{
                        position: absolute;
                        top: 100%;
                        padding-top: 10px;
                        
                        color: $principal-color-white;
                        font-weight: 400;
                        letter-spacing: .5px;
                        text-transform: uppercase;
                    }
                }
            }    
        }    
    }
    // ---------- ✓ Gallery ✓ ---------- //

    // ---------- aboutme ---------- //
    .aboutme{
        background-color: $principal-color-white;
        height:100%;
        padding-bottom: 100px;
        
        .aboutme__container-all {
            width: 80%;
            margin: 0 auto;

            .aboutme__title {
                // mixin ->
                // styles_text($color, $font_size, $letter_spacing, $font-weight, $text_align)
                @include styles_text($principal-color-black, 64px, 1px, 500, center);
                border-bottom: 2px solid $principal-color-black;
                border-radius: 10px;

                width: 60%;

                margin-top: 0;
                margin-bottom: 100px;
                margin-right: auto;
                margin-left: auto;

                padding-right: 20px;
                padding-left: 20px;                    
                padding-bottom: 20px; 
            }

            .aboutme__container-flex {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;  

                margin-bottom: 75px;

                .container-img {
                    width: 30%;

                    padding: 15px;
                    border: 1px solid $principal-color-black;
                    border-radius: 20px;
                    
                    transition: all .1s ease;                    
                    &:hover{border: 2px solid $principal-color-black;}

                    img {
                        width: 100%;
                        border-radius: 20px;
                    }
                }
            }
            
            .aboutme__text {
                width: 85%;
                // mixin -> styles_text($color, $font_size, $letter_spacing, $font-weight, $text_align)
                @include styles_text($principal-color-black, 28px, 1.5px, 600,center);
                line-height: 1.8em;
        
                margin: 0 auto;
                padding: 20px;

                .light{font-weight: 300;}
            }
        }
    }
    // ---------- ✓ aboutme ✓ ---------- //
}
/*=============== ✓ Sections ✓ ===============*/

/*=============== Responsive ===============*/

@media (max-width: 1270px){
    // HEADER navbar repaired. //
    header{
        background-position: center;
        .header__container{

            nav {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                .nav__logo {width: 100%;}

                .nav-menu {
                    width: 100%;
                    justify-content: center;
                    padding: 0;
                }
            }
        }
    }
    // ✓ HEADER navbar repaired. ✓

    section{

        // black&white or color repaired //
        .bw-color{
            .bw-color__container-flex {
                .container-img {
                    width: 35%;
                }
            }
        }
        // ✓ black&white or color repaired ✓ //
    }
}

@media (max-width: 840px){
    // HEADER navbar repaired. //
    header{
        .header__container {            
            nav {
                .nav-menu {
                    li {
                        a {
                            font-size: 18px;
                            padding: 10px 15px;                            
                        }
                    }
                }
            }
        }
    }
    // ✓ HEADER navbar repaired. ✓ //

    section{
        // black&white or color ---> position repaired //
        .bw-color{
            height: 100%;
            .bw-color__container-flex {
                flex-direction: column;

                .container-img {
                    margin-bottom: 100px;
                    width: 50%;
                }
            }
        }
        // ✓ black&white or color ---> position repaired ✓ //

        // gallery ---> position repaired //
        .gallery{
            .gallery__container-all{
                .gallery__container{
                        grid-template-columns: 90%;
                        grid-template-rows: auto auto auto auto;
                        grid-template-areas:    "verticaluno"
                                                "horizontaluno"
                                                "horizontaldos"
                                                "horizontaltres";
                        gap: 50px 0px;

                        img{
                            width:100%
                        }
                    }
                }
            }
        // ✓ gallery ---> position repaired ✓ //

        // aboutme ---> position and fontsize repaired //
        .aboutme{
            .aboutme__container-all {

                .aboutme__title{
                    font-size: 48px;
                }

                .aboutme__container-flex{
                    flex-direction: column;
                    justify-content: center;

                    margin-bottom: 25px;

                    .container-img{
                        width: 60%;

                        padding: 10px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
        // ✓ aboutme ---> position and fontsize repaired ✓ //
    }       
}

@media (max-width: 650px){
    // HEADER navbar repaired & arrow-down center. // 
    header{
        .header__container{
            nav {
                .nav__logo {
                    width: 100%;
                    justify-content: flex-start;
                }

                .nav-menu {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 0;

                    li {
                        text-align: left;
                        a {
                            padding-bottom: 15px;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }
            }
            // arrow-down center 
            .header__arrowdown-container {left: 50%;}
        }
    }
    // ✓ HEADER navbar repaired & arrow-down center. ✓ //

    section{
        // gallery ---> title repaired //
        .gallery{
            .gallery__container-all {
                .gallery__title {
                    font-size: 32px;
                    padding-left: 0px;
                    padding-right: 0px;
                    width: 50%;
                }
            }
        }
        // ✓ gallery ---> title repaired ✓ //

        // aboutme ---> fontsize repaired //
        .aboutme{
            .aboutme__container-all{

                .aboutme__title{
                    font-size: 36px;
                }

                .container-img{
                    width: 100%;
                }

                .aboutme__text{
                    width: 90%;
                    font-size: 24px;
                }
            }
        }
        // ✓ aboutme ---> fontsize repaired ✓ //
    }
}

@media (max-width: 491px) {
    
    section{
        // black&white or color repaired. //      
        .bw-color{
            .bw-color__container-flex { 
                .container-img{
                    width: 70%;
                }
            }
        }
        // ✓ black&white or color repaired. ✓ //

        // random photo repaired.
        .random{
            .random__container{
                margin-top: 75px;

                .random__btn{
                    padding: 10px 15px;
                }
                .random__img-container{
                    width: 105%;
                }
            }
        }
        // ✓ random photo repaired. ✓ //

        // gallery ---> change horizontal imgs for vertical imgs. // 
        .gallery{
            .gallery__container-all {
                .gallery__container {
                    .container-img {
                        .uno {content: url(../components/images/gallery/Vertical/Responsive/Champaqui-responsive.JPG);}
                        .dos {content: url(../components/images/gallery/Vertical/Responsive/rosario-responsive.jpg);}
                        .tres {content: url(../components/images/gallery/Vertical/Responsive/street2-responsive.jpg);}
                    }
                }
            }
        }
        // ✓ gallery ---> change horizontal imgs for vertical imgs. ✓ // 

        // aboutme ---> fontsize repaired //
        .aboutme{
            .aboutme__container-all{

                .aboutme__title{
                    font-size: 36px;
                    width: 80%;
                    margin-top: 25px;
                }

                .aboutme__container-flex{
                    .container-img {
                        padding: 5px;
                    }                    
                }

                .aboutme__text{
                    width: 100%;
                    font-size: 18px;
                }
            }
        }
        // ✓ aboutme ---> fontsize repaired ✓ //
    }
}

@media (max-width: 360px) {
    // HEADER navbar repaired. //
    header{
        .header__container {
            nav {
                .nav__logo {
                    // navbar repaired
                    .nav__title {
                        font-size:24px
                    }

                    .nav__svg-35mmfilm {
                        width: 30px;
                        height: 30px;
                    }
                    // ✓ navbar repaired ✓
                }
            }   
        }
    }  
    // ✓ navbar repaired. //

    section{
        // black&white or color repaired. //      
        .bw-color{
            .bw-color__container-flex { 
                .container-img{
                    .container-img__title{
                        font-size: 18px;
                    }
                }
            }
        }
        // ✓ black&white or color repaired. ✓ //

        // gallery ---> title reposition //
        .gallery{
            .gallery__container-all {
                .gallery__title {
                    margin-top: 50px;
                    margin-bottom: 75px;
                }
            }
        }
        // gallery ---> title reposition //

        // aboutme ---> fontsize repaired //
        .aboutme{
            .aboutme__container-all{

                .aboutme__title{
                    width: 100%;                    
                }
            }
        }
        // ✓ aboutme ---> fontsize repaired ✓ //
    }
}
/*=============== ✓ Responsive ✓ ===============*/