@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');
@import "variables";

body {
    background-color: $principal-color-black;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/*=============== HEADER ===============*/
header {
    width: 100%;
    height: 100vh;
    background-image: $bg-image-header;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    
    .container-header {
        width: 80%;
        margin: 0px auto;
        position: relative;

        /* ===== nav-bar ===== */
        nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 25px 0px;
            align-items: center;

            // HEADER logo styles            
            .logo {
                width: 30%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                transition: color .5s ease, fill .5s ease;

                text-decoration: none;
                color: $principal-color-white;
                fill: $principal-color-white;
                letter-spacing: 2px;                

                h1 {font-size: 28px;}
                
                .svg-35mmfilm {
                    width: 40px;
                    height: 40px;
                    transform: rotate(90deg);
                    position: relative;
                    right: 15px;
                }
            }
            .logo:hover {
                color: $hover-header-color;
                fill: $hover-header-color;
            }

            // nav-menu styles
            .nav-menu {
                width: 70%;
                display: flex;
                justify-content: flex-end;
                list-style: none;

                li {
                    display: inline-block;
                    text-align: center;                 
                }

                a {
                    display: inline-block;
                    font-size: 22px;
                    letter-spacing: 1.5px;
                    text-decoration: none;
                    color: $principal-color-white;
                    padding: 25px;
                    transition: border .3s ease, color .3s ease;
                }
                a:hover {
                    color: $hover-header-color;
                    border-bottom: 1px solid $hover-header-color ;
                    border-radius: 5px;
                }
            }
        }
        /* ===== ✓ nav-bar ✓ ===== */

        /* ===== arrow down ===== */              
        .arrowdown-container {
            display: block;
            width: 100px;
            height: 100px;
            border: 1px solid $hover-header-color;
            border-radius: 100%;
            fill: $principal-color-white;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 100%;
            top: 80vh;
            transition: all .1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../css/style.css);

            svg {
                width: 50px;
                animation: breathing_element 4s infinite;
            }

            /* Animation arrow down */             
            @keyframes breathing_element {
                from {
                    -webkit-transform: scale3d(1,1,1);
                    transform: scale3d(1, 1, 1);
                }
                50% {
                    -webkit-transform: scale3d(1.3, 1.3, 1.3);
                    transform: scale3d(1.3, 1.3, 1.3);
                }
                to {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }                
            }
        }
        .arrowdown-container:hover {
            fill: $hover-header-color;
            border: 2px solid $principal-color-white;
        }
        /* ===== ✓ arrow down ✓ ===== */            
    }
}
/*=============== ✓ HEADER ✓ ===============*/


/*=============== Responsive ===============*/

@media (max-width: 1270px) {
    // HEADER navbar repaired.
    header {
        background-position: center;
        .container-header{

            nav {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                .logo {width: 100%;}

                .nav-menu {
                    width: 100%;
                    justify-content: center;
                    padding: 0;
                }
            }
        }
    }
    // ✓ HEADER navbar repaired. ✓
}

@media (max-width: 840px) {
    // HEADER navbar repaired.
    header {
        .container-header {            
            nav {
                .nav-menu {
                    li {
                        a {
                            font-size: 18px;
                            padding: 10px 15px;                            
                        }
                    }
                }
            }
        }
    }
    // ✓ HEADER navbar repaired. ✓
}

@media (max-width: 650px) {
    // HEADER navbar repaired & arrow-down center.
    header {
        .container-header{
            nav {
                .logo {
                    width: 100%;
                    justify-content: flex-start;
                }

                .nav-menu {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 0;

                    li {
                        text-align: left;
                        a {
                            padding-bottom: 15px;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }
            }
            // arrow-down center 
            .arrowdown-container {left: 50%;}
        }
    }
    // ✓ HEADER navbar repaired & arrow-down center. ✓
}

@media (max-width: 360px) {
    //HEADER navbar repaired
    header {
        .container-header {
            nav {
                .logo {
                    // navbar repaired
                    h1 {
                        font-size:24px
                    }

                    .svg-35mmfilm {
                        width: 30px;
                        height: 30px;
                    }
                    // ✓ navbar repaired ✓
                }
            }   
        }
    }  
    // ✓ navbar repaired 
}

/*=============== ✓ Responsive ✓ ===============*/

