/* ========== Page colors ========== */
$principal-color-black: rgb(33, 37, 41);
$principal-color-white: rgb(248, 249, 250);
$hover-header-color: rgb(173, 181, 189);
$hover-button-color: rgb(108, 117, 125);
/* ========== /end Page colors ========== */

/* ========== Standard properties ========== */
$bg-image-header: url(../components/images/bg_header/bg_header.jpg);
$bg-img-header_color-section: url(../components/images/bg_header/color_section/reflejo_mdp.jpg);
$border-radius-standard_10: 10px;
/* ========== /end Standard properties ========== */

/*  ========== clases aplicables  ========== */

// index.random-photo ---> fix width vertical photo
.fix_width_vertical {
    width: 40%;
}

// index.gallery ---> grid area
.vertical_uno {    grid-area: verticaluno;}
.horizontal_uno {    grid-area: horizontaluno;}
.horizontal_dos {    grid-area: horizontaldos;}
.horizontal_tres {    grid-area: horizontaltres;}

// ------ animations index.popup ------ //
// entrada del título del popup.
@keyframes entrada_titulo {
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
// entrada de los inputs.
@keyframes entrada_inputs {
    from{opacity:0;}
    to{opacity: 1;}
}

