/* ========== Page colors ========== */
$principal-color-black: rgb(33, 37, 41);
$principal-color-white: rgb(248, 249, 250);
$hover-header-color: rgb(173, 181, 189);
$hover-button-color: rgb(108, 117, 125);
/* ========== /end Page colors ========== */

/* ========== Standard properties ========== */
$bg-image-header: url(../components/images/bg_header/bg_header.jpg);
$border-radius-standard_10: 10px;
/* ========== /end Standard properties ========== */

// aplicables
.hide {grid-row: span 2;}
.wide {grid-column: span 2;}

.vertical_uno {    grid-area: verticaluno;}
.horizontal_uno {    grid-area: horizontaluno;}
.horizontal_dos {    grid-area: horizontaldos;}
.horizontal_tres {    grid-area: horizontaltres;}