/* ========== Page colors ========== */
$principal-color-black: rgb(33, 37, 41);
$principal-color-white: rgb(248, 249, 250);
$hover-header-color: rgb(173, 181, 189);
$hover-button-color: rgb(108, 117, 125);
/* ========== ✓ Page colors ✓ ========== */

/* ========== Standard properties ========== */
$bg-image-header: url(../components/images/bg_header/bg_header.jpg);
$border-radius-standard_10: 10px;
/* ========== ✓ Standard properties ✓ ========== */

/*  ========== clases aplicables  ========== */
// index.gallery ---> grid area
.vertical_uno {    grid-area: verticaluno;}
.horizontal_uno {    grid-area: horizontaluno;}
.horizontal_dos {    grid-area: horizontaldos;}
.horizontal_tres {    grid-area: horizontaltres;}
/*  ========== ✓ clases aplicables ✓ ========== */

// ------ animations index.popup ------ //
// entrada del título del popup.
@keyframes entrada_titulo {
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
// entrada de los inputs.
@keyframes entrada_inputs {
    from{opacity:0;}
    to{opacity: 1;}
}
// ------ ✓ animations index.popup ✓ ------ //
