#Ignorar auto run cmd
links/black-and-white_section/sass/WATCHSASS.cmd
links/color_section/sass/WATCHSASS_color.cmd
links/Gallery/Street/scss/WATCHSASS_street.cmd
links/Gallery/Mardelplata/scss/WATCHSASS_mardelplata.cmd

